:root {
  --fontAbel: 'Abel', sans-serif;
  --font-size-paragraph: 1em;
  --color1: white;
  --color2: black;
  --color3: #408e91;
  --color3Opacity: #408e911e;
  --color3Dark: #012d2e;
  --color4: rgba(255, 255, 255, 0.418);
  --color4Opacity: hsla(0, 0%, 96%, 0.129);
  --color5: #54393c;
  --color6: #7c9070;
  --color7: #F97B22;
  --color8: #fee8b0;
  --color8Opacity: #fee8b02f;
  --color9: #3e4938;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  box-sizing: border-box;
  font-family: var(--fontAbel);
  line-height: 1.2;
  letter-spacing: 2px;
}

strong {
  font-weight: bold;
  font-style: italic;
}

em {
  font-style: italic;
  font-weight: bold;
}

hr {
  border-width: 0 0 2px;
  width: 20%;
  max-width: 75px;
  border-radius: 50%;
  border-color: var(--colorBlack);
  margin-bottom: 30px;
}

.firstScreen {
  width: 100vw;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  letter-spacing: 1px;
  background-color: var(--color3);
  color: var(--color1)
}

.firstScreen__enter {
  font-size: 1.2em;
  font-weight: bold;
  transition: 2s ease;
  cursor: pointer;
}

.firstScreen__enter:hover {
  transition: 1s ease;
}

.firstScreen__enter--anim {
  letter-spacing: 3px;
}

.firstScreen__text {
  padding: 20px;
  line-height: 25px;
  text-align: justify;
  margin-bottom: 30px;
}

.firstScreen__text__welcome {
  text-align: center;
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.displaynone {
  display: none;
}

.formNewsletter {
  position: absolute;
  padding: 10px;
  background-color: var(--color7);
  z-index: 2;
  border: 1px solid var(--color4);
}

.formNewsletterActive {
  bottom: 10px;
  left: 10px;
}

.formNewsletterHidden {
  visibility: hidden;
  bottom: 10px;
  left: -1000px;
}

.formNewsletter__buttonClose {
  width: 100%;
  display: block;
  text-align: right;
  position: relative;
  top: -5px;
  color: var(--color1);
  cursor: pointer;
}

.formNewsletter__buttonClose:hover {
  color: var(--color3Dark);
}

.formNewsletter__textContent {
  font-size: 0.9em;
  padding-bottom: 10px;
  color: var(--color1);
}

.formNewsletter__buttonSubmit {
  border: none;
  padding: 3.5px;
}

.formNewsletter__buttonSubmit:hover {
  background-color: var(--color3Dark);
  color: var(--color1);
}

.formNewsletter__input {
  font-size: 0.9em;
}

.body__container {
  width: 80%;
  margin: 0 auto;
}

.logo {
  width: 25%;
  max-width: 100px;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}

.navbar__author {
  padding-right: 30px;
  display: none;
}

.header {
  margin-top: 50px;
  z-index: 3;
}

.author__name {
  margin-top: 50px;
  margin-bottom: 30px;
  color: var(--color1)
}

.author__name,
.presentation__title,
.skills__title,
.achievement__title,
.contact__title {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
}

.author__job {
  font-size: 0.9em;
  text-align: center;
  margin-bottom: 50px;
  margin-top: -20px;
}

.author__job-speciality {
  font-style: italic;
  padding: 1px 5px;
  font-weight: bold;
  color: var(--color5);
}

.navbar {
  width: 100%;
  background-image: url(../images/background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  text-align: center;
  align-items: center;
  margin-bottom: 50px;
  padding: 30px;
  position: relative;
}

.navbar__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: var(--color1);
  margin: 0 auto;
}

.containerLightNight {
  position: fixed;
  top: 50%;
  right: calc((10% / 2) - 7px);
  cursor: pointer;
  padding: 0.5%;
  color: var(--color3Dark);
  z-index: 2;
}

.containerLightNight--darkMode {
  color: var(--color1);
}

.containerLightNight__icon {
  font-size: 1em;
}

.navbar__items {
  margin: 5px 0;
  text-transform: capitalize;
}

.navbar__items:hover {
  letter-spacing: 1.3px;
}

.icon__light-night:hover,
.navbar__items:hover {
  color: var(--color5);
  transition: 1s;
}

.navbar__quote {
  font-size: 0.9em;
  color: var(--color1);
  font-weight: bold;
  display: none;
}

.navbar__quote-adjective {
  color: var(--colorBlack);
  font-size: 1.3em;
  text-decoration: underline;
  padding-left: 3px;
}

.presentation,
.skills,
.achievement,
.contact {
  padding: 30px;
}

.presentation,
.contact {
  background-color: var(--color3Opacity);
}

.skills {
  width: 100%;
  margin: 0 auto;
}

.presentation__picture {
  width: 100px;
  margin: 5px 17px 0 0;
  float: left;
  cursor: pointer;
}

@keyframes floutter {
  from {
    filter: blur(0);
    transform: rotate(0);
  }

  50% {
    filter: blur(100px);
    transform: rotate(1080deg);
  }

  to {
    filter: blur(0);
    transform: rotate(0);
  }
}

.presentation__picture:hover {
  animation-name: floutter;
  animation-duration: 2s;
}

.presentation__text {
  margin-bottom: 20px;
}

.skills__container {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.skills__container__picture {
  width: 25%;
  max-width: 105px;
  filter: contrast(1.2);
  margin: 5px;
  padding: 8px;
  transition: 0.8s ease-in-out;
}

.skills__container__picture:hover {
  transform: scale(1.2);
  filter: contrast(1.75);
  border: solid 1px;
}

.achievement {
  width: 100%;
  border: 1px solid var(--color3);
  margin: 20px 0;
}

.achievement__container {
  width: 100%;
  margin-bottom: 10px;
  position: relative;
  display: inline-block;
  border: solid 1px var(--color1);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  cursor: pointer;
}

.achievement__container-left:hover,
.achievement__container-right:hover {
  filter: opacity(0.8);
  transition: 0.5s;
}

.achievement__container-left-1 {
  background-image: url(../images/img-projet-00.jpg);
}

.achievement__container-right-1 {
  background-image: url(../images/img-projet-01.jpg);
}

.achievement__container__name {
  font-size: 1em;
  text-align: center;
  padding-top: 10px;
  color: var(--color1);
  text-shadow: black 1px 0 10px;
  text-transform: capitalize;
}

.achievement__container__progress {
  background-color: var(--color4);
  padding: 3px 7px;
  margin-top: 45px;
  display: inline-block;
  margin-bottom: 5px;
}

.achievement__container__progress-left {
  right: 0;
  left: 10px;
  margin-left: 5px;
}

.achievement__container__progress-right {
  text-align: right;
  margin-left: 5px;
}

/********************* FOOTER *********************/

.footer {
  padding: 30px 30px 20px;
}

.contact__text {
  font-size: var(--font-size-paragraph);
  margin-bottom: 20px;
}

.footer__icons-credits {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.container-icon {
  display: flex;
  justify-content: center;
}

.contact__text a {
  color: #408e91;
}

.container__icon__picture {
  margin: 10px;
}

.container__icon__picture:hover {
  color: var(--color5);
  transition: 0.5s ease;
  cursor: pointer;
}

.footer__credits {
  text-align: center;
  align-items: center;
  padding-bottom: 20px;
}

/********************* DARK MODE *********************/

.body--darkMode {
  background-color: var(--color3Dark);
  color: var(--color4)
}

/********************* RESPONSIVE WEB DESIGN *********************/
@media (min-width: 300px) {
  .footer__iconTop {
    font-size: 20px;
  }
}

@media (min-width: 600px) {
  .navbar {
    justify-content: space-between;
  }

  .containerLightNight {
    right: calc(5% - 0.9em);
  }

  .containerLightNight__icon {
    font-size: 1.2em;
  }

  .navbar__quote {
    display: block;
    margin-right: 30px;
  }

  .navbar__list {
    align-items: flex-start;
    margin: 0 30px;
  }

  .presentation__text,
  .contact__text {
    text-align: justify;
  }

  .footer__iconTop {
    font-size: 30px;
  }

  .firstScreen__text__welcome {
    font-size: 1.4em;
    margin: 20px 0;
  }

  .firstScreen__text {
    font-size: 1.2em;
    margin: 0;
    max-width: 400px;
  }

  .firstScreen__enter {
    font-size: 1.2em;
  }
}

@media (min-width: 900px) {
  .containerLightNight {
    right: calc(5% - 1.3em);
  }

  .containerLightNight__icon {
    font-size: 1.4em;
  }

  .firstScreen__text__welcome {
    font-size: 1.6em;
    margin: 40px 0;
  }

  .firstScreen__text {
    font-size: 1.4em;
    margin: 0;
    max-width: 700px;
  }

  .firstScreen__enter {
    font-size: 1.4em;
  }

  .logo {
    max-width: 150px;
  }

  .navbar__author {
    display: block;
  }
}

@media (min-width: 1200px) {
  .logo {
    display: inline;
  }

  .containerLightNight {
    right: calc(5% - 1.8em);
  }

  .containerLightNight__icon {
    font-size: 1.6em;
  }

  .navbar__list,
  .navbar__quote {
    font-size: 1.2em;
  }

  .presentation__text,
  .contact__text {
    font-size: 1.2em;
  }

  .achievement__container {
    height: 150px;
  }

  .achievement__container__progress {
    margin-top: 85px;
    display: inline-block;
    margin-bottom: 5px;
  }

  .skills {
    width: 50%;
    max-height: 450.58px;
    margin: 0;
    float: right;
    border: none;
  }

  .achievement {
    width: 50%;
    border: none;
    margin: 0;
  }

  .achievement__container {
    margin: 0 auto 10px;
    display: block;
  }
}
